<div class="jumbotron">
  <h1 class="display-3 text-center">MVC Burgers</h1>
  <p class="lead text-center">A virtual burger joint for making and devouring delicious burgers!</p>
  <hr class="my-2">
  <div class="row">
    <div class="col-md-4">
      <h2 class="text-center mt-4">Make a Burger</h2>
      <form id="create-form">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Burger Name</span>
          </div>
          <input type="text" class="form-control" id="bu" name="name" placeholder="" aria-label="Username"
            aria-describedby="basic-addon1">
        </div>
        <button id="add-button" class="btn btn-block btn-warning" type="submit">Add Burger</button>
      </form>
    </div>
    <div class="col-md-4">
      <h2 class="text-center mt-4">Burgers to Devour!</h2>
      <ul class="px-0" style="list-style-type:none;">
        {{#each burgers}}
        {{#unless devoured}}
        {{> burger/burger-block devoured=true}}
        {{/unless}}
        {{/each}}
      </ul>
    </div>
    <div class="col-md-4">
      <h2 class="text-center mt-4">Devoured Burgers!</h2>

      <ul class="pl-5" style="list-style-type:none;">
        {{#each burgers}}
        {{#if devoured}}
        {{> burger/burger-block devoured=false}}
        {{/if}}
        {{/each}}
      </ul>
    </div>

  </div>

  <footer class="footer mt-auto">
    <div class="container py-3">
      <span class="footer-text">Coded by Spencer Creer using jQuery and Bootstrap CSS framework
        <a class="text-dark link-text mx-2" href="https://www.linkedin.com/in/spencer-creer-023246109/" target="_blank"
          style="font-size: 25px;"><i class="fa fa-linkedin-square link-in"></i></a>
        <a class="text-dark link-text mx-2 pt-3" href="https://github.com/spencercreer" target="_blank"><i
            class="fa fa-github link-git" style="font-size: 25px;"></i></a>
      </span>
    </div>
  </footer>