<div class="jumbotron">
  <h1 class="display-3 text-center">MVC Burgers</h1>
  <p class="lead text-center">A virtual burger joint for creating and devouring delicious burgers.</p>
  <hr class="my-2">
  <div class="row">
    <div class="col-md-4">
      <h3 class="text-center">Make a Burger</h3>
      <form id="create-form">

        <div class="form-group">
          <label for="bu">Burger Name:</label>
          <input type="text" id="bu" name="name">
        </div>

        <button id="add-button" type="submit">Add Burger</button>
      </form>
    </div>
    <div class="col-md-4">
      <h2 class="text-center">Burgers to Devour!</h2>

      <ul>
        {{#each burgers}}
        {{#unless devoured}}
        {{> burger/burger-block devoured=true}}
        {{/unless}}
        {{/each}}
      </ul>
    </div>
    <div class="col-md-4">
      <h2 class="text-center">Devoured Burgers!</h2>

      <ul>
        {{#each burgers}}
        {{#if devoured}}
        {{> burger/burger-block devoured=false}}
        {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>

</div>