<li>
	{{burger_name}}

	{{#if devoured}}<button class="devour-button" data-id="{{id}}" data-devoured="{{devoured}}">
		DEVOUR!</button>{{/if}}

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
